*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.lista-pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 20px;
    list-style: none;
}
h3{
    margin: 20px;
}
.pokemon{
    background-color: #d5d6d8;
    border-radius: 10px;
    padding: 10px;

    img{
        width: 40%;
        justify-self: center;
        display: flex;
    }
}

.pokemon:hover{background-color: rgb(182, 236, 238);}

    p{
        text-align: center;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
        margin-top: 10px;
        color: #261ac9;
    }
        

.pokemon .numero {
  color: #6b6b6a;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}