*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.lista-pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 20px;
    list-style: none;
}
h3{
    margin: 20px;
}
.pokemon{
    border-radius: 10px;
    padding: 10px;

    img{
        width: 50%;
        justify-self: center;
        display: flex;
    }
}

.pokemon:hover{background-color: rgb(209, 250, 134);}

    p{
        text-align: center;
        font-size: 20px;
        font-family: monospace;
        margin-top: 10px;
        color: #261ac9;
        
}
.grass{background-color: #b7d6a8}
.fire{background-color: #caa013}
.water{background-color: #99c4dd}
.ice{background-color: #cfe7eb}
.electric{background-color: #ebf74a;}
.psychic{background-color: #f85888;}
.dragon{background-color: #7038f8;}
.dark{background-color: #705848;}
.normal{background-color: #a8a878;}
.fighting{background-color: #903028;}
.flying{background-color: #a890f0;}
.poison{background-color: #a040a0;}
.ground{background-color: #e0c068;}
.rock{background-color: #443b06;}
.bug{background-color: #a8b820}
.ghost{background-color: #705898;}
.steel{background-color: #b8b8d0;}
.fairy{background-color: pink;}